
*{
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 20px; 
	margin: 0;
	padding: 0;
}
h1{
font-size: 175%;
text-align: center;
margin-bottom: 20px;
}
section{
	height: 150px;
	border: 1px solid black;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 10px;
	padding: 10px;
	position: relative;
	padding-top: 45px ;
}
#sec1{

		background-color: aqua;

}
#sec2{

		background-color: lightgreen;
}
#sec3{

		background-color: skyblue;
}	

h2{
	position: absolute;
	text-align: center;
	font-size: 125%;
	top: 0;
	right: 0;
	width: 40%;
	height: 40px;
	border: 1px solid black;

}
#h2_1{

	background-color: yellow;
}
#h2_2{

	background-color: mintcream;
}
#h2_3{

	background-color: magenta;
}

.row{
	width: 100%;
}

@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3{
	float: left;
	border: 1px solid black;
}
.col-lg-1{
	width: 31.3%;
}
.col-lg-2{
	width: 31.3%;
}
.col-lg-3{
	width: 31.3%;
}
}

@media (min-width: 768px) and (max-width: 991px) {
.col-md-1, .col-md-2, .col-md-3{
	float: left;
	border: 1px solid black;
}
.col-md-1{
	width: 47.5%;
}
.col-md-2{
	width: 47.5%;
}
.col-md-3{
	width: 97%;
}
}

@media (max-width: 767px) {
.col-sh-1, .col-sh-2, .col-sh-3{
	/* float: left; */
	border: 1px solid black;
}
.col-sh-1{
	width: 97%;
}
.col-sh-2{
	width: 97%;
}
.col-sh-3{
	width: 97%;
}
}


